{{! <div class="alert alert-danger sticky-top" role="alert"> }}
<form action="/logout" class="alert alert-success d-flex justify-content-between align-center">
  <h2 class="font-weight-bold">
    Bienvenidx {{username}}!
  </h2>
  <button class="btn btn-danger">
    LOGOUT
  </button>
</form>